name: Python Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  python_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0

      - name: Black Linter
        if: always()
        uses: psf/black@8a737e727ac5ab2f1d4cf5876720ed276dc8dc4b # 25.1.0
        with:
          options: "--check --verbose --diff"
          src: "./create_secret/src ./get_secret/src"
          version: "~= 24.8.0"

      - name: Flake8 Linter
        if: always()
        run: |
          python -m pip install flake8
          flake8 create_secret/src get_secret/src

      - name: ISort Linter
        if: always()
        uses: isort/isort-action@24d8a7a51d33ca7f36c3f23598dafa33f7071326 # v1.1.1

      - name: Bandit Linter
        if: always()
        run: |
          python -m pip install bandit
          bandit -r create_secret/src get_secret/src